<div class="wrapper">
<div class="main">
	<!-- <h1>Survey</h1> -->
	 <p><%= @survey.title %></p> 
<table>
	<thead>
	<tr>
		<td class="q_button_head">Edit Question</td>
		<td class="question_style_head">Input Style</td>
		<td>Question</td>
		<td class="q_button_head">Delete Question</td>
	</tr>
	</thead>
		<% @questions.each do |question| %>
	<tr id="row">
		<td><div class="q_button edit" data-question="<%= question.id %>">&#8594;</div></td>
		<td class="question_style"><%= question.style %></td>
		<td id="question_context"><%= question.context %></td>
		<td><div class="q_button delete">&#8592;</div></td>
	<br>
	</tr>
	<% end %>
</table>
<br>
<br>
<form class="hidden" id="q_edit" method="post">
	<p><input type="submit"></p>
</form>
<br><br><br><br>

<center>
<table width="450">
<td><button id="survey_edit">Edit survey</button></td>
<td><form action="/surveys/<%= @survey.id %>" method="post">
	<div class="submit"><input type="submit" value="Delete survey"></div>
</form></td>
<td><form action="/surveys/<%= @survey.id %>" method="get">
	<div class="submit"><input type="submit" value="Share survey"></div>
</form></td>
<td><form action="/surveys/<%= @survey.id %>/results" method="get">
	<div class="submit"><input type="submit" value="View results"></div>
</form></td>
</table>
<br>
<br>
<br>
<button id="cool">What would've been cool if we had more time!!!</button>
</center>

<br><br><br><br>

</div>