<div class="container">

<h3>welcome back, <a href='/users/<%= @user.id %>'><%= @user.username %></a>!</h3>
	<p>your surveys are listed below.  select to view survey, edit, and/or view results:</p>
	<ul id = "surveys">
	<% @surveys.each do |survey| %>
	<span class="hidden"> <%= survey.id %></span>
		<li><a href='/surveys/<%= survey.id %>/maker'><%= survey.title  %></a> <small><span class="deleteSurvey"> [Delete Survey]</span></small></li><br>

		<% end %>
	</ul>
	<form action="/surveys/new" method="get">
  <input type="submit" value="create new survey">
  <br>
  </form>
	<a id="stats_link" href="/surveys/results">Stats</a>

<!-- 	<div class="decision">Are you sure you want to delete this survey?<br><br> <button id="yes">Yes, please</button> <br><br> <button id="no">Absolutely not</button> </div> -->
</div>
