<div class="container">

<h3>welcome back, <a href='/users/<%= @user.id %>'><%= @user.username %></a>!</h3>
	<p>your surveys are listed below.  select to view survey, edit, and/or view results:</p>
	<ul id = "surveys">
	<% @surveys.each do |survey| %>
	<span class="hidden"> <%= survey.id %></span>
		<li><a href='/surveys/<%= survey.id %>/maker'><%= survey.title  %></a> <small><span class="deleteSurvey"> [Delete Survey]</span></small></li><br>

		<% end %>
	</ul>
	<form action="/surveys/new" method="get">
  <input class="buttons_2" type="submit" value="create new survey">
  <br>
  </form>
	<a class="buttons_2" id="stats_link" href="/surveys/results">Stats</a>
</div>
