<div class="container">
	<p><%= @survey.title %></p>
	 <form action="/surveys/submit" method="post">
<% @survey.questions.each do |question| %>
<p>Question <%=@incrementer.next%>: <%=question.context %></p>
	<% if question.style == "text" %>
		<input type="text" name=<%=question.id%>>
	<% elsif question.style == "radio" %>
		<% question.choices.each do |choice| %>
		

		<input type="radio" name=<%=question.id%> 
		value="<%=choice.input%>"> <%=choice.input%> <br>
		<% end %>
	<% end %>


<% question.choices %>
<% end %>
<br>
<input type="submit" value="Submit Survey!">
</form>
</div>